button{
    cursor: pointer;
    background-color: red;

    font-size: large;
    margin: 10px 5px;
    border-radius: 8px;
    border: solid 1px #222;
    color: #FFF;
 
}

#report{
    padding: 10px;
   
   
    cursor: pointer;
    background-color:rgb(24, 37, 3);
    left: 30%;
}