

<section id="header">
  
</section>

<div id="big-Rectangle1">
 
    <div id="small-Rectangle2">
        <h1 id="authorization">ავტორიზაცია</h1>
    
        <div id="elipse4"> 
              <img src="file://C:\Users\user\Angular\Product-Frontend\src\app\Image\Vector.png">;
        </div>
    </div>
    
    
     <h1 id="enter-your-info">შეიყვანეთ თქვენი მონაცემები</h1>

    <form #f="ngForm" (ngSubmit)="onLogin(f)" novalidate >
          <label id="your-email">მომხმარებლის სახელი</label>
          <input id="email" name="username" ngModel>
          <label id="your-password">პაროლი</label>
          <input id="password" name="password" ngModel>
          <button id="enter" >შესვლა</button>
    </form>
</div>



