table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #ddd;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  form input[type="text"], form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  form button[type="submit"] {
    background-color: #ddd;
    color: #333;
    cursor: pointer;
  }
  
  form button[type="submit"]:hover {
    background-color: #333;
    color: #fff;
  }