<section id="interPage">
  <div class="wrapper">
      <div class="itemWrapper">
          <div class="addItem" >
              <div class="itemTitle">
                  <p>სახელი</p>
                  <div>
                      <p>რაოდენობა</p>
                      <p> ფასი</p>
                  </div>
              </div>
          </div>

          <div class="items" *ngFor="let product of data">
              <div class="itemName">
                  <p>{{product.name}}</p>
              </div>

              <div class="container">
                  <div>{{product.quantity}}</div>
                  <div>{{product.price}}</div>                  
              </div>
              <div>
                <button (click)="onAddToCard(product)" >პროდუქტის დამატება კალათაში</button>
              </div>
          </div>
      </div>
<!--   --------------------------------------------------------------------------------------------------------------------->
      <div class="Cart">
          <div class="cartTitle">
              <h1>ჩემი კალათა</h1>
          </div>

         
          <div class="parentElement" *ngFor="let product of cardData" >
            <div class="cartWrapper">
              <div class="cart_header">
                  <p>პროდუქტის დასახელება</p>
                  <p>რაოდენობა</p>
                  <p>ფასი</p>
                  <h2>ჯამი</h2>
              </div>
              <div class="cart_body">
                  <p>{{product.name}}</p>
                  <div>
                    <button (click)=" decrement(product)" >-</button>
                    <p>{{product.quantity}}</p>
                    <button (click)="increment(product)">+</button>
                  </div>
                  <p>{{product.price}}</p>
                  <h2>{{product.price*product.quantity}}</h2>                  
              </div>             
          </div>
          </div>


      </div>

      <a routerLink="/product-add" class="router">პროდუქტის დამატება ბაზაში</a>
      <a routerLink="/admin" class="router">Admin Page</a>
  </div>
</section>