<div id="header">
    
  </div>
  
  <div id="shopping-cart">
    <h1 id="myCard">ჩემი კალათა</h1>
    <section *ngFor="let product of data">
      <table id="productAdd">
        <tr id="nameingBlock">
          <th id="prodName">პროდუქტის დასახელება</th>
          <th id="prodName">პროდუქტის რაოდენობა</th>
          <th id="prodName">ფასი</th>
          <th id="prodName">ჯამი</th>
        </tr>
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.price * product.quantity }}</td>
        </tr>
      </table>
    </section>
    <a routerLink="/product-add">Add Product</a>
  </div>
  
  
  
  
  