*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#interPage{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.itemWrapper{
    width: 70%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.addItem{
    width: 70%;
    height: max-content;
    padding: 26px 66px 16px 0;
}

.itemTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.itemTitle div{
    display: flex;
}.itemTitle div P{
    padding:  0 254px;
}
.items{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #E7F2FD;
    border-radius: 10px;
    padding: 0 12px;
    background-color: #FFF;
}.container{
    display: flex;
}
.container div:first-child{
    background-color: #f3f9ff;
    width: 65px;
    height: 50px;
}.container div:last-child{
    width: 65px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.Cart{
    width: 700px;
    height: max-content;
    padding: 0 23px;

}
.cartTitle{
    border-bottom: solid 2px #E7F2FD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.cartTitle h1 {
    color: #0D66D0;
    font-size: 20px;
    padding: 16px 0 ;
}

.parentElement{
    width: 100%;
    height: max-content;
    max-height: 700px;
    overflow: auto;
    padding: 0 6px;
}
.cartWrapper{
    width: 620px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: solid 1px #CFE0F6;
    border-radius: 10px;
    overflow: hidden;

    font-family: 'Helvetica Neue LT GEO';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 14px;

color: #1B385B;
}


.cart_header{
    width: 100%;
    height: 45px;
    background-color: #F3F9FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9px;
}.cart_header p{
    font-family: 'Helvetica Neue LT GEO';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 14px;
    
    color: #1B385B;
}.cart_header h2{
    color: #0D66D0;
    font-size: 14px;
}

.cart_body{
    width: 100%;
    height: max-content;
    padding: 12px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.cart_body p{
    font-size: 12px;
    color: #1B385B;
}.cart_body h2{
    color: #0D66D0;
    font-size: 14px;
}
.cart_body div{
    margin-left: 87px;
    display: flex;
    align-items: center;
}.cart_body div button{
    background-color: #BCD6F4;
    border: none;
    width: 25px;
    height: 17px;
    font-size: 14px;
    font-weight: 900;
    color: #1B385B;
}.cart_body div button:first-child{
    border-radius: 9px 0 0 9px;
}.cart_body div button:last-child{
    border-radius:  0 9px 9px 0;
}
.cart_body  div p{
    padding: 0 6px;
}

.router{
    color: blue;
  text-decoration: none;
}


.card-button{   
      position: absolute;
      margin-top: -35px;
      right: 30px;     
           
}

#button{
    border:none;
        background-color: transparent;     
        cursor: pointer;   
}




